/* PROYECTOS */
#proyectos {
    padding: 50px 0;
    background-color: #f8f8f8;
}

#proyectos h2 {
    text-align: center;
    margin-bottom: 30px;
}

.project-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-card img {
    width: 100%;
    height: 200px; /* Ajusta la altura deseada */
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  

.project-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 16px;
    color: #888;
}

.project-card:hover {
    transform: translateY(-5px);
}

/* FIN PROYECTOS */



/* FOOTER */
/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    padding-bottom: 0px;
  }
  
  footer h4 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  footer p {
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style: none;
    padding: 0px;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  footer ul li a:hover {
    color: #ccc;
  }
  
  footer .social-media {
    display: flex;
    justify-content: center;
  }
  
  footer .social-media li {
    margin-right: 10px;
  }
  
  footer .social-media li:last-child {
    margin-right: 0;
  }
  
  footer .social-media a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  footer .social-media a:hover {
    color: #ccc;
  }
  
  .bottom-footer {
    background-color: #222;
    color: #ccc;
    padding: 10px 0;
    text-align: center;
  }
  

/* FIN FOOTER */