@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Playfair;
    font-style: italic;
    background-color: #ffd2fe;
}
.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(206, 0, 203, 0.5);
}

h1 {
    color: #333;
}
.counter h2 {
    font-size: 2.5rem;
    margin: 20px 0;
}
.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttons button:hover {
    opacity: 0.9;
}
.buttons button:first-child {
    background-color: #4caf50;
    color: white;
}
.buttons button:last-child {
    background-color: #f44336;
    color: white;
}

.button_comprar {
    background-color: #baf4fc; /* Green */
    border: solid 1px #000000;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button_comprar:hover {
    background-color: #7dedfc;
}

/* Imagen en la esquina superior derecha */
.top-right {
    position: absolute;
    top: 160px;
    right: 20px;
}

.top-right img {
    width: 80px;
    height: auto;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

/* Más separación a la derecha en pantallas grandes (Desktop) */
@media (min-width: 1024px) {
    .top-right {
        right: 410px;
        top: 60px;
    }
}

/* Responsividad para tablets y móviles */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }
    
    h1 {
        font-size: 1.8rem;
    }

    .top-right img {
        width: 70px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p, a {
        font-size: 1rem;
    }

    .top-right img {
        width: 60px;
    }
}