@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Playfair', serif;
    font-style: italic;
    background-color: #ffd2fe;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 columnas por fila */
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}


.shop-container {
    text-align: center;
    padding: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 2000px;
    margin: 0 auto;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition : transform 0.3s; /* Transicion de la escala */
    transform: scale(1); /* Inicialmente no se escala */

    
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 0 15px 5px rgba(206, 0, 203, 0.3);
}

.card img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.quantity-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.quantity-controls button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.quantity-controls button:hover {
    background: #0056b3;
}

.quantity {
    font-size: 1.2rem;
    font-weight: bold;
}

.buy {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.buy:hover {
    background: #218838;
}

.price {
    margin-top: 10px;
    color: #333;
}

.container{
    margin-bottom: 50px;
}

/* estilos boton premios comprados */

.comprados{
    margin-top: 50px;
    margin-bottom: 50px;
    background: #ff45ca;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /* transitio */
    transition: background-color 0.3s;
    border: solid 1px #141414;
}

.comprados:hover {
    background: #ff00b3;
}