*{
  margin: 0;
  padding: 0;
}

body{
    background-color: #f4eee1;
}

/* NAVBAR */
.brand-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: -10px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2.7em;
    color: rgb(59, 59, 59);
}

.navbar-brand:hover{
    color: rgb(59, 59, 59);
}

.navbar-text{
    font-weight: bold;
    font-size: 1.1em;
    margin-top: -8px;
    color: rgb(133, 133, 133)!important;
}

.navbar-nav .nav-link {
    margin-right: 15px;
    font-weight: 600;
}
/* FIN NAVBAR */

/* HEADER */
.img-cow {
    position: relative;
    height: 38vh;
    overflow: hidden;
}

.darkened {
    filter: brightness(0.6);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text h1 {
    font-size: 3.4em;
    font-weight: bold;
    color: white;
}

.header-text p {
    font-size: 1.2em;
    color: white;
    margin-top: 35px;
}
/* FIN HEADER */

/* WHY GO VEGAN */
.whyGoVegan {
    background-color: #f4eee1;
    padding: 50px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-section,
.text-section {
    width: 100%;
    max-width: 800px;
}

.image-section img {
    width: 100%;
    height: 100%;
}

.text-section {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: justify;
    margin: 0 0px;
}

.text-section h2,
.text-section p {
    margin-top: 20px;
}

.text-section h2 {
    padding: 20px;
    text-align: left;
}

.text-section p {
    max-width: 800px;
    margin-left: 25px;
    margin-right: 40px;
    color: rgb(66, 66, 66);
    font-weight: 500;
}

#border_image{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#border_text{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.button-container {
    margin-top: 30px;
    margin-left: 25px;
}

.button-container a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #30863f;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-container a:hover {
    background-color: #267231;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.leaf1_icon{
    width: 30px;
    margin-left: 8px;
    transform: rotate(290deg);
}

@media (min-width: 1175px) {

    /* HEADER */
    .img-cow {
        position: relative;
        height: 70vh;
        overflow: hidden;
    }
    .content-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: unset;
    }

    .image-section,
    .text-section {
        flex: 1;
        margin: 0 0px;
    }

    #border_image{
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }
    
    #border_text{
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    .leaf1_icon{
        width: 40px;
        margin-left: 8px;
        transform: rotate(290deg);
    }
}
/* FIN WHY GO VEGAN */

/* WE HELP YOU TRANSITION */

/* PARALLAX */
.parallax-section {
    position: relative;
    overflow: hidden;
    height: 44vh;
}

.parallax-section img {
    width: 100%;
    height: 44vh;
    filter: brightness(0.5);
}

.overlay {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
}

.overlay h2 {
    font-size: 2em;
    margin-top: 80px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
/* FIN PARALLAX */

#wehelpyou h2{
    font-size: 24px;
}

.button-container {
    margin-top: 30px;
}

.custom-button {
    border: solid white;
    color: white;
}

@media (min-width: 1175px) {
    .overlay {
        top: 50%;
    }
    .overlay h2 {
        margin-top: 0px;
    }
    .parallax-section {
        position: relative;
        overflow: hidden;
        height: 65vh;
    }
    .parallax-section img{
        height: 75vh;
    }

    #wehelpyou h2{
        font-size: 40px;
    }
}
/* FIN WE HELP YOU TRANSITION */

/* HOW TO REPLACE ANIMAL PRODUCTS */
.howToReplace {
    background-color: #f4eee1;
    padding: 50px;
}

.content-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-section2,
.text-section2 {
    width: 100%;
    max-width: 800px;
}

.image-section2 img {
    width: 100%;
    height: 100%;
}

.text-section2 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: justify;
    margin: 0 0px;
}

.text-section2 h2,
.text-section2 p {
    margin-top: 20px;
}

.text-section2 h2 {
    padding: 20px;
    align-items: left;
}

.text-section2 p {
    max-width: 800px;
    margin-left: 25px;
    margin-right: 40px;
    color: rgb(66, 66, 66);
    font-weight: 500;
}

#border_image2 {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#border_text2 {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.no-meat_icon{
    width: 29px;
    margin-left: 5px;
}

@media (min-width: 1175px) {
    .content-wrapper2 {
        flex-direction: row-reverse; /* Para que la imagen esté a la derecha en pantallas grandes */
        justify-content: space-between;
        align-items: unset;
    }

    .image-section2,
    .text-section2 {
        flex: 1;
        margin: 0 0px;
    }

    #border_image2 {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
    }

    #border_text2 {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .no-meat_icon{
        width: 40px;
        margin-left: 8px;
    }
}

/* Nueva regla CSS para pantallas pequeñas */
@media (max-width: 1174px) {
    .image-section2 {
        order: -1; /* Cambiado a -1 para que la imagen aparezca antes del texto en pantallas pequeñas */
    }
}
/* FIN HOW TO REPLACE ANIMAL PRODUCTS */

/* FEATURED */
.featured{
    background-color: rgb(233, 255, 180);
    margin: 0px;
    padding: 5px;
    margin-left: 25%;
    margin-right: 29%;
    /* border: solid 1.8px rgb(0, 0, 0); */
    border-radius: 20px;
    color: rgb(29, 29, 29);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-container2 {
    margin-top: 30px;
}

.button-container2 a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #30863f;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-container2 a:hover {
    background-color: #267231;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.featured_icon{
    width: 50px;
}
/* FIN FEATURED */

/* FOOTER */
.footer-section {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
}

.footer-section p {
    margin-bottom: 0px;
}
/* FIN FOOTER */